@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme{
  --color-blue: #0051D5;
  --color-light-blue: #2563EB;
  --color-grey: #C4C7C7;
  --font-sans: "Geist", sans-serif;
  --color-muted-foreground: #444748;
  --animate-slide-in: slide-in 0.4s ease-in-out;
  @keyframes slide-in{
    from{
      transform: translateX(50%);
    } to{
      transform: translateX(0%);
    }
  }
}
* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  & section{
    @apply container mx-auto p-4 md:p-8;
  }
  /* &>:not(hr){ */
  /*   @apply container mx-auto p-4 md:p-8; */
  /* } */
}

h1{
  @apply font-bold text-5xl mt-4 lg:text-6xl
}

h2{
  @apply font-semibold text-3xl mt-10;
}

header{
  @apply pl-0;
}

a{
  color: var(--text-muted-foreground);
}

hr{
  @apply mt-15   bg-grey w-screen border-t-grey;
}
